body {
    background-color: #DCD7C9;
    margin: 0px;
}

hr {
    border-style: dotted;
    border-width: 30px;
    border-color: #bba797;
    width: 11%;
    height: 0px;
    border-top: 20px;
    margin-top: none;
}

h1 {
    color: #2C3639;
    text-align: center;
}

h3 {
    color: #2C3639;
    text-align: center;
}

h5 {
    color: #2C3639;
    text-align: center;
}

p {
    color: #3F4E4F;
    text-align: center;
}

ul {
    color: #3F4E4F; 
    text-align: center;
    list-style: circle inside;
}

img{
    display: block;
    margin: 0 auto;
    width: auto;
}

table{
    margin-left: auto;
    margin-right: auto;
}

td{
    text-align: center;
}

div.fullpage{
    height: 100vh;
}

div.lightcl{
    height: 100vh;
    background-color: #bba797;
}